.header {
    padding-top: 20px;
}

.header__item:nth-of-type(1) {
    order: 1;

}

.header__item:nth-of-type(3) {
    order: 3;
    flex: 0 1 100%;
}

.header__item:nth-of-type(5) {
    order: 2;
    flex: 0 1 50%;
}

.header__menu {
    display: none;
}

.header__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.burger {
    width: 25px;
    height: 20px;
    position: relative;

}

.burger__line {
    width: 100%;
    display: block;
    border-top: 2px solid black;
    position: absolute;
}

.burger__line:nth-of-type(1) {
    top: 0;
}

.burger__line:nth-of-type(2) {
    top: 50%;
    margin-top: -1px;
}

.burger__line:nth-of-type(3) {
    bottom: 0;
}

.menu-mobile.__active {
    display: flex;
}

.menu-mobile {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 9999;
    overflow-x: scroll;
}

.menu-mobile__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.menu-mobile__ul li a {
    background: linear-gradient(180deg, #54595F 0%, #303337 100%), #D9D9D9;
    border-radius: 50px;
    max-width: 100%;
    margin-bottom: 10px;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.menu-mobile__ul li a:visited {
    color: #fff;
}

.menu-mobile__cross {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 50px 25px 0 0;
}

.menu-mobile__cross-body {
    width: 24px;
    height: 24px;
    position: relative;

}

.menu-mobile__line {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 30%;
    top: 40%;
    border-top: 2px solid black;
    transform: rotate(-45deg);
}

.menu-mobile__line:last-of-type {
    transform: rotate(45deg);
    left: -31%;
}