.home-item {
    padding-top: 100px;
}

/* hero */
.hero {
    display: flex;
    justify-content: space-between;
}

.hero__left {
    flex: 0 1 43%;
}

.hero__title {
    font-size: calc(20px + 70 * (100vw / 1920));
    line-height: 130%;
    margin: 0 0 50px 0;
}

.hero__right {
    flex: 0 1 45%;
}

.hero__image {
    height: 100%;
    width: 100%;
    right: 8%;
}

.hero__list {
    display: flex;
    flex-wrap: wrap;
}

.hero__parallelogram {
    flex: 0 1 calc(50% - 10px);
    background: linear-gradient(180deg, #54595F 0%, #303337 100%);
    margin-bottom: 30px;
    height: 66px;
    border-radius: 10px;
    transform: skew(15deg);
    overflow: hidden;
    position: relative;
    left: 1%;
}

.hero__parallelogram:nth-of-type(odd) {
    margin-right: 20px;

}

.hero__parallelogram:nth-of-type(3n),
.hero__parallelogram:nth-of-type(4n) {
    position: relative;
    left: 20px;
}

.hero__service {
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: calc(12px + 12 * (100vw / 1920));
    color: white;
    padding-left: 15px;
    transform: skew(-15deg);
}


.hero__circle {
    display: inline-block;
    border-radius: 50%;
    background: white;
    width: 10px;
    height: 10px;
    margin: 10px
}


.hero__btn {
    margin-top: 50px;
    padding: 35px 0;
    width: calc(100% + 30px);
}

.hero__overlay {
    display: none;
}

/* product grid */
.product-grid {
    display: flex;
    align-items: stretch;
}

.product-grid__item {
    margin-right: 30px;
    flex: 0 1 calc(33% - 20px);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.product-grid__item:nth-of-type(3n) {
    margin-right: 0;
}

.product-grid__image {
    height: 40%;
}

.product-grid__image img {
    object-fit: cover;
}

.product-grid__info {
    padding: 30px 20px 50px;
    border: 1px solid #EECC55;
    border-radius: 0 0 20px 20px;
    border-top: none;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.product-grid__title {
    font-size: calc(22px + 18 * (100vw / 1920));
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}

.product-grid__description {
    flex: 1 1 auto;
    font-size: calc(14px + 6 * (100vw / 1920));
    line-height: 150%;
    text-align: justify;
    padding-bottom: 30px;
}

.product-grid__more {
    color: #EECC55;
    font-weight: 500;
    text-decoration: none;
    text-align: right;
    width: 100%;
    display: block;
}

.product-grid__btn {
    padding: 28px 0;
}

/* price */
.price__title {
    text-align: center;
    font-size: calc(40px + 30 * (100vw / 1920));
}

.price__info {
    padding: 50px 0 40px;
    display: flex;
    height: 663px;
}

.price__left,
.price__right {
    flex: 0 1 calc(50% - 15px);
}

.price__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5px;
}

.price__image {
    height: 100%;
}

.price__item {
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    left: 0;
    padding: 60px;
    margin-bottom: 30px;

}

.price__item:nth-of-type(2) {
    left: -4%;
}

.price__item:nth-of-type(3) {
    left: -8%;
}

.price__item:last-of-type {
    margin-bottom: 0;
}

.price__name-gr {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.price__name, .price__value {
    font-size: calc(18px + 4 * (100vw / 1920));
    font-weight: 700;
    text-transform: uppercase;
}

.price__dots {
    border-top: dotted #EECC55 4px;
    margin: 0 10px;
    flex: 1 1 auto;
}

.price__description {
    font-size: calc(14px + 6 * (100vw / 1920));
    font-weight: 400;
}

.price__bottom {
    display: flex;
    justify-content: flex-end;
}

.price__btn {
    width: 50%;
    padding: 35px 0;
    position: relative;
    left: -6%;
}

/* cost-calc*/
.cost-calc__title {
    font-size: calc(50px + 40 * (100vw / 1920));
    text-align: center;
}

.cost-calc__quiz {
    border: 1px solid rgba(84, 89, 95, 0.5);
    border-radius: 40px;
    height: 890px;
    margin-top: 50px;
    padding: 50px;
}

.main-quiz {
    display: flex;
    height: 100%;
}

.main-quiz__left,
.main-quiz__right {
    flex: 0 1 50%;
}

.main-quiz__item {
    height: calc(33% - 20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.main-quiz__item:last-of-type {
    margin-bottom: 0;
}

.main-quiz__title,
.main-quiz__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.main-quiz__overlay {

    background: rgba(0, 0, 0, 0.7);
}

.main-quiz__title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.main-quiz__info {
    height: 100%;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    margin-right: 60px;
}

.main-quiz__checkbox,
.main-quiz__circle {

    border-radius: 100%;
}

.main-quiz__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid #EECC55;

}

.main-quiz__circle {
    width: 30px;
    height: 30px;
    background: linear-gradient(180deg, #F3E286 0%, #E2A13E 100%);

}

.main-quiz__right {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
}

.main-quiz__question {
    font-size: calc(20px + 20 * (100vw / 1920));
    text-transform: uppercase;
    flex: 1 1 auto;
}

.main-quiz__btn {
    padding: 35px 0;
}

.steps__title {
    font-size: calc(40px + 30 * (100vw / 1920));
    text-align: center;
}

.steps__body {
    display: flex;
    flex-wrap: wrap;
    padding-top: 90px;
    justify-content: space-between;
}

.steps__item {
    flex: 0 1 calc(50% - 16px);
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(180deg, #54595F 0%, #303337 100%), #D9D9D9;
    border: 1px solid rgba(238, 204, 85, 0.5);
    box-shadow: 0px 0px 36px rgba(96, 97, 112, 0.2);
    position: relative;
    border-radius: 20px;
    padding: 50px;
}

.steps__item:nth-of-type(odd) {
    margin-right: 32px;
}

.steps__item:nth-of-type(1),
.steps__item:nth-of-type(2) {
    margin-bottom: 70px;
}

.steps__icon {
    width: 120px;
    height: 120px;
    position: absolute;
    top: -60px;
    right: 50px;
}

.steps__semicircle {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    height: 50%;
    width: 100%;
    border-radius: 0 0 100px 100px;
    border-left: 1px solid rgba(238, 204, 85, 0.5);
    border-right: 1px solid rgba(238, 204, 85, 0.5);
    border-bottom: 1px solid rgba(238, 204, 85, 0.5);
    background: white;
    z-index: 1;
    box-shadow: inset 0px 0px 36px rgba(96, 97, 112, 0.2);
}

.steps__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 27px;

}

.steps__image img {
    object-fit: contain;
}

.steps__name {
    font-size: calc(20px + 20 * (100vw / 1920));
    padding-bottom: 30px;
}

.steps__subtitle {
    font-size: calc(18px + 6 * (100vw / 1920));
}

.portfolio__title {
    text-align: center;
    font-size: calc(40px + 30 * (100vw / 1920));
    font-weight: 700;
    margin-bottom: 50px;
}

.portfolio__gr-btn {
    display: flex;
    align-items: center;
}

.portfolio__btn {
    padding: 28px 0;
    flex: 0 1 calc(33% - 20px);
    margin-right: 30px;
    font-weight: 700;
    font-size: calc(12px + 12 * (100vw / 1920));
    color: white;
    text-transform: uppercase;
}

.portfolio__btn:last-of-type {
    margin-right: 0;
}

.portfolio__body {
    position: relative;
}

.portfolio__slider-main {
    margin-top: 50px;
    height: 700px;
    width: 100%;
    padding-bottom: 30px;
    overflow: hidden;
}

.portfolio__slider-main,
.portfolio__slider-submain {
    object-fit: cover;
}

.portfolio__slider-submain {
    overflow: hidden;
    height: 300px;
    margin-bottom: 50px;
}

.portfolio__slide {
    border-radius: 20px;
    overflow: hidden;
}

.portfolio__slider-submain .portfolio__slide {
    margin-right: 30px;
}

.portfolio__button-next,
.portfolio__button-prev {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    margin-top: -50px;
    border-radius: 100%;
    padding: 10px;
    z-index: 999;
    background: white;
}

.portfolio__arrow img {
    object-fit: contain;
}

.portfolio__button-prev {
    transform: scale(-1);
    left: 0;
    margin-left: -50px;
}

.portfolio__button-next {
    right: 0;
    margin-right: -50px;

}

.portfolio__ellipse {
    width: 100%;
    height: 100%;
    padding: 0 25px;
    border-radius: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio__pagination .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background: #54595F;
}

.portfolio__pagination .swiper-pagination-bullet-active {
    width: 30px;
    height: 30px;
    background: linear-gradient(180deg, #F3E286 0%, #E2A13E 100%);
}

.home-description {
    font-size: 20px;
    font-weight: 400;
}
