@media (max-width: 991px) {
    .home-item {
        padding-top: 50px;
    }

    .hero__service {
        padding-left: 5px;
    }

    .hero__circle {
        width: 5px;
        height: 5px;
    }

    .product-grid {
        flex-wrap: wrap;
        justify-content: center;
    }
    .product-grid .product{
        flex: 0 1 calc(50% - 15px);
    }


    .price__left {
        display: none;
    }

    .price__right {
        flex: 1 1 auto;
    }

    .price__right .price__item {
        left: 0;
    }

    .price__btn {
        width: 100%;
        left: 0;
    }

    .steps__icon {
        width: 100px;
        height: 100px;
        position: absolute;
        top: -50px;
        right: 30px;
    }

}