.home-item {
    padding-top: 100px;
}

/* hero */
.hero {
    display: flex;
    justify-content: space-between;
}

.hero__left {
    flex: 0 1 43%;
}

.hero__title {
    font-size: calc(20px + 70 * (100vw / 1920));
    line-height: 130%;
    margin: 0 0 50px 0;
}

.hero__right {
    flex: 0 1 45%;
}

.hero__image {
    height: 100%;
    width: 100%;
    right: 8%;
}

.hero__list {
    display: flex;
    flex-wrap: wrap;
}

.hero__parallelogram {
    flex: 0 1 calc(50% - 10px);
    background: linear-gradient(180deg, #54595F 0%, #303337 100%);
    margin-bottom: 30px;
    height: 66px;
    border-radius: 10px;
    transform: skew(15deg);
    overflow: hidden;
    position: relative;
    left: 1%;
}

.hero__parallelogram:nth-of-type(odd) {
    margin-right: 20px;

}

.hero__parallelogram:nth-of-type(3n),
.hero__parallelogram:nth-of-type(4n) {
    position: relative;
    left: 20px;
}

.hero__service {
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: calc(12px + 12 * (100vw / 1920));
    color: white;
    padding-left: 15px;
    transform: skew(-15deg);
}


.hero__circle {
    display: inline-block;
    border-radius: 50%;
    background: white;
    width: 10px;
    height: 10px;
    margin: 10px
}


.hero__btn {
    margin-top: 50px;
    padding: 35px 0;
    width: calc(100% + 30px);
}

.hero__overlay {
    display: none;
}

/* product grid */
.product-grid {
    display: flex;
    align-items: stretch;
}

.product-grid .product {
    flex: 0 1 33%;
}

.product-grid .product__more {
    text-align: right;
}

/* price */
.price__title {
    text-align: center;
    font-size: calc(40px + 30 * (100vw / 1920));
}

.price__info {
    padding: 50px 0 40px;
    display: flex;
    height: 663px;
}

.price__left,
.price__right {
    flex: 0 1 calc(50% - 15px);
}

.price__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5px;
}

.price__image {
    height: 100%;
}

.price__item {
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    left: 0;
    padding: 60px;
    margin-bottom: 30px;

}

.price__item:nth-of-type(2) {
    left: -4%;
}

.price__item:nth-of-type(3) {
    left: -8%;
}

.price__item:last-of-type {
    margin-bottom: 0;
}

.price__name-gr {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.price__name, .price__value {
    font-size: calc(18px + 4 * (100vw / 1920));
    font-weight: 700;
    text-transform: uppercase;
}

.price__dots {
    border-top: dotted #EECC55 4px;
    margin: 0 10px;
    flex: 1 1 auto;
}

.price__description {
    font-size: calc(14px + 6 * (100vw / 1920));
    font-weight: 400;
}

.price__bottom {
    display: flex;
    justify-content: flex-end;
}

.price__btn {
    width: 50%;
    padding: 35px 0;
    position: relative;
    left: -6%;
}

.steps__title {
    font-size: calc(40px + 30 * (100vw / 1920));
    text-align: center;
}

.steps__body {
    display: flex;
    flex-wrap: wrap;
    padding-top: 90px;
    justify-content: space-between;
}

.steps__item {
    flex: 0 1 calc(50% - 16px);
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(180deg, #54595F 0%, #303337 100%), #D9D9D9;
    border: 1px solid rgba(238, 204, 85, 0.5);
    box-shadow: 0px 0px 36px rgba(96, 97, 112, 0.2);
    position: relative;
    border-radius: 20px;
    padding: 50px;
}

.steps__item:nth-of-type(odd) {
    margin-right: 32px;
}

.steps__item:nth-of-type(1),
.steps__item:nth-of-type(2) {
    margin-bottom: 70px;
}

.steps__icon {
    width: 120px;
    height: 120px;
    position: absolute;
    top: -60px;
    right: 50px;
}

.steps__semicircle {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    height: 50%;
    width: 100%;
    border-radius: 0 0 100px 100px;
    border-left: 1px solid rgba(238, 204, 85, 0.5);
    border-right: 1px solid rgba(238, 204, 85, 0.5);
    border-bottom: 1px solid rgba(238, 204, 85, 0.5);
    background: white;
    z-index: 1;
    box-shadow: inset 0px 0px 36px rgba(96, 97, 112, 0.2);
}

.steps__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 27px;

}

.steps__image img {
    object-fit: contain;
}

.steps__name {
    font-size: calc(20px + 20 * (100vw / 1920));
    padding-bottom: 30px;
}

.steps__subtitle {
    font-size: calc(18px + 6 * (100vw / 1920));
}


.home-description {
    font-size: 20px;
    font-weight: 400;
}
