.whatsapp, .callback-btn {
    font-size: 14px;
    width: 200px;
}

.whatsapp__icon, .callback-btn__icon {
    width: 30px;
    height: 30px;
}

.contact-line__item {
    margin-bottom: 10px;
}

.contact-line__text,
.geo__title {
    font-size: 14px;
}

.geo__subtitle {
    font-size: 12px;
}

.contact-line__icon {
    width: 15px;
    height: 15px;
}
