@media (max-width: 551px) {


    .whatsapp, .callback-btn {
        width: 100%;
        height: 50px;
    }

    .whatsapp {
        margin-right: 5px;
    }

    .callback-btn {
        margin-left: 5px;
    }

    .whatsapp__icon, .callback-btn__icon {
        margin-left: 10px;
        width: 15px;
        height: 15px;
    }

    .contact-line__item {
        margin-bottom: 5px;
    }

    .contact-line__text,
    .geo__title {
        font-size: 10px;
    }

    .geo__subtitle {
        font-size: 8px;
    }

}