* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}


.main-font {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #000000;
}

.submain-font {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #000000;
}

.btn {
    border-radius: 50px;
    border: none;
}

.main-btn {
    background: linear-gradient(180deg, #F3E286 0%, #E2A13E 100%);
    border-radius: 50px;
    font-size: calc(14px + 10 * (100vw / 1920));
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
    border: none;
}

.submain-btn {
    background: linear-gradient(180deg, #54595F 0%, #303337 100%), #D9D9D9;
}

.gradient-1 {
    background: linear-gradient(180deg, #54595F 0%, #303337 100%);
}

.gradient-3 {
    background: linear-gradient(180deg, #54595F 0%, #303337 100%), #D9D9D9;
}

.container {
    max-width: 1800px;
    padding: 0 50px;
    margin: 0 auto;
}

.icon {
    color: black;
}

.geo {
    display: flex;
}

.geo__icon {
    margin-right: 13px;
    width: 17px;
    height: 20px;
}

.geo__title, .geo__subtitle {
    display: block;
}

.geo__title {
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
}

.geo__subtitle {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    white-space: nowrap;
}

.whatsapp {
    background: linear-gradient(0deg, #1FAF38 0%, #60D669 100%), #D9D9D9;
    width: 238px;
    height: 60px;
    text-decoration: none;

}

.whatsapp,
.callback-btn {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;

}

.whatsapp__text,
.callback-btn__text {
    padding-top: 4px;
}

.whatsapp__icon,
.callback-btn__icon {
    margin-left: 24px;
    width: 36px;
    height: 36px;
}

.logo {
    width: 118px;
    height: 100px;
    margin: 0 auto;
}

.callback-btn {
    width: 238px;
    height: 60px;
    background: linear-gradient(180deg, #F3E286 0%, #E2A13E 100%);
    border: none;
}

.callback-btn:hover {
    cursor: pointer;
}

.callback-btn__icon {
    display: block;
}

.contact-line {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact-line__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    white-space: nowrap;
    text-decoration: none;
}

.contact-line__item:hover {
    cursor: pointer;
}

.contact-line__item:last-of-type {
    margin: 0;
}

.contact-line__icon {
    width: 25px;
    height: 20px;
    margin-right: 12px;

}

.contact-line__text {
    font-size: 18px;
}

.parallelogram {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transform: skew(10deg);
}

.parallelogram img {
    transform: skew(-10deg);
    position: absolute;
    top: 0;
    /* width: 117%;*/
    /* right: 9%;*/
}

.parallelogram-reverse {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transform: skew(-10deg);
    left: -9%;
}

.parallelogram-reverse img {
    transform: skew(10deg);
    position: absolute;
    top: 0;
    width: 117%;
    left: 9%;
}

/* quiz-status-bar */
.quiz-status-bar {
    height: 10px;
    border-radius: 50px;
    background: rgba(84, 89, 95, 0.1);
    margin-bottom: 60px;
    position: relative;
}

.quiz-status-bar__toddler {
    border-radius: 100%;
    padding: 2px;
    border: 1px solid rgba(84, 89, 95, 0.5);
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 20%;
    background: white;
}

.quiz-status-bar__toddler:hover {
    cursor: pointer;
}

.quiz-status-bar__circle {
    border-radius: 100%;
    background: linear-gradient(180deg, #F3E286 0%, #E2A13E 100%);
    width: 15px;
    height: 15px;

}

.quiz-status-bar__line {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 21%;
    background: linear-gradient(180deg, #F3E286 0%, #E2A13E 100%);
    border-radius: 50px 0 0 50px;

}

/*map*/
.map {
    margin-bottom: 600px;
}

.map__wrapper {
    width: 100vw;
    position: absolute;
    left: 0;
}

.map__contact {
    position: absolute;
    left: 256px;
    top: 96px;
    background: linear-gradient(180deg, #54595F 0%, #303337 100%), #D9D9D9;
    border: 1px solid #AAACAF;
    border-radius: 20px;
}

.map__body iframe {
    width: 100%;
}

.contact-map {
    padding: 50px;
    background: linear-gradient(180deg, #54595F 0%, #303337 100%), #D9D9D9;
    border: 1px solid #AAACAF;
    border-radius: 20px;
    width: 350px;
    position: absolute;
    left: 256px;
    top: 50%;
    transform: translate(0, -50%);
    max-width: 100%;
}


.contact-map__title {
    font-weight: 700;
    font-size: 40px;
    color: white;
}

.contact-map__line {
    width: 70px;
    border: 2px solid #EECC55;
    margin: 15px 0 50px 0;
}

.contact-map__value {
    color: white;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    display: block;
}

.contact-map__item {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.contact-map__icon {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.contact-map__subvalue {
    font-weight: 300;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    margin-top: 2px;
}